*{
  margin: 0px;
  overflow-x: hidden;
}
.App {
  text-align: center;
}
.Header{
  height: 9vh;
  width: 100vw;
  overflow: auto;
  position: sticky;
  top:0;
}

.Header-comp1{
  float: left;
  margin-top: 5vh;
  margin-left: 5vw;
  background-clip: text;
  color: transparent;
  cursor: pointer;
}
.Header-comp2{
  float: right;
  display: flex;
  flex-direction: row;
  margin-top: 5vh;
  margin-right: 5vw;
}
.Header-comp2 li{
  list-style: none;
  overflow-y: hidden;

}
.Header-comp2 li a{
  margin: 10px;
  text-decoration: none;
  padding: 10px;
  font-size: 20px;
  color: black;
}
.Header-comp2 li a:hover{
  background-image: linear-gradient(to right, rgb(79, 175, 248), rgb(238, 55, 76)); /* Gradient from left to right */
  background-clip: text;
  color: transparent;
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;
  cursor: pointer;
}
.Link {
  margin: 10px;
  text-decoration: none;
  padding: 10px;
  font-size: 20px;
  color: black;
  text-decoration: none;
}
.Heading{
  background-image: linear-gradient(to right, rgb(79, 175, 248), rgb(238, 55, 76)); /* Gradient from left to right */
  background-clip: text;
  color: transparent;
}
/* End of navigation bar edit */

/* Start of introduction content */
.Introduction{
  width: 50vw;
  margin-left: 25vw;
  margin-top: 4vh;
}

.Introduction-comp2{
  margin-top: 2vh;
  text-align:justify;
  align-items: center;
  margin-bottom: 8vh;
}
.My-image{
  margin-top: 3vh;
  margin-bottom: 3vh;
}
/* End of the trivia content */

/* Start of Button for quiz */
.Quiz-button{
  margin-top: 5vh;
  background-color:rgb(79, 175, 248) ;
  padding: 10px;
  border: none;
}
.Quiz-button:hover {
  background-image: linear-gradient(to right, rgb(79, 175, 248), rgb(238, 55, 76)); /* Gradient from left to right */
  background-color: transparent; /* Set background color to transparent to show the gradient */
}

/* End of button  */

/* beginning of True or False quiz questions */
.Questions-Heading{
  margin-top: 5vh;
  margin-bottom: 2.5vh;
  text-align: left;
  margin-left: 15vw;
}
.Container-Question{
  width: 70vw;
  margin-left: 15vw;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.Question{
  margin-top: 5vh;
  text-align: justify;
  margin-bottom: 10px
}
.User-Answer-text {
  align-items: left;
  text-align: center;
  padding: 10px;
  font-family: Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  border: 0;
  margin-left: 0;
  border-bottom: 5px solid; /* Adjust the thickness as needed */
  border-image: linear-gradient(to right, red, blue) 1;
  outline: none;

}

.Submit-Button{
  margin-top: 5vh;
  background-color:rgb(79, 175, 248) ;
  padding: 10px;
  border: none;
  margin-bottom: 8vh;
}
.Submit-Button:hover{
  background-image: linear-gradient(to right, rgb(79, 175, 248), rgb(238, 55, 76)); /* Gradient from left to right */
  background-color: transparent; /* Set background color to transparent to show the gradient */
}
.Close-Button{
  margin-top: 5vh;
  background-color:rgb(79, 175, 248) ;
  padding: 10px;
  border: none;
}
.Close-button:hover{
  background-image: linear-gradient(to right, rgb(79, 175, 248), rgb(238, 55, 76)); /* Gradient from left to right */
  background-color: transparent; /* Set background color to transparent to show the gradient */
}
/* Open ended questions */
.Container-OpenEdnd-Questions{
  width: 70vw;
  height: auto;
  margin-left: 15vw;
}
.CheckBox {
  /* Add some space between the checkbox and the question */
  margin-right: 10px;

  /* Customize the checkbox appearance */
  width: 20px;
  height: 20px;
  accent-color: #007bff; /* blue color for the checked state */
  border: 1px solid #ddd; /* light gray border */
  border-radius: 50%; /* rounded corners */
  cursor: pointer; /* change the cursor shape to a pointing hand */
}

.CheckBox:checked {
  /* Customize the checked state appearance */
  background-color: #007bff; /* blue color for the checked state */
  border-color: #007bff; /* blue border for the checked state */
}
.Question-Open{
  margin-top: 5vh;
  text-align: justify;
}
.Multiple-Choice{
  align-items: left;
  text-align: left;

}